<a href="https://colab.research.google.com/github/hemalathamaruboyina/Samplerepo/blob/main/HemaLatha-2575911/Python_Day1_practice_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Manipulating using a list.
    i) To add new elements to the end of the list
    ii) To reverse elements in the list
    iii) To display the same list of elements multiple times.
    iv) To concatenate two list
    v) To sort the elements in the list in ascending order.

In [ ]:
# Creating a List first
list = ["Hema", "Latha", "Mphasis", 2575911]
print("original list is",list)

original list is ['Hema', 'Latha', 'Mphasis', 2575911]

In [ ]:
# i) To add new elements to the end of the list
list.append("Python")
print("After adding a new element list is",list)

After adding a new element list is ['Hema', 'Latha', 'Mphasis', 2575911, 'Python']

In [ ]:
#ii) To reverse elements in the list
print(list[::-1])

['Python', 2575911, 'Mphasis', 'Latha', 'Hema']

In [ ]:
#iii) To display the same list of elements multiple times.
n = int(input("Enter the number to repeat the list"))
for i in range (n):
  print (list)

Enter the number to repeat the list5
['Hema', 'Latha', 'Mphasis', 2575911, 'Python']
['Hema', 'Latha', 'Mphasis', 2575911, 'Python']
['Hema', 'Latha', 'Mphasis', 2575911, 'Python']
['Hema', 'Latha', 'Mphasis', 2575911, 'Python']
['Hema', 'Latha', 'Mphasis', 2575911, 'Python']

In [ ]:
#iv) To concatenate two list
a = [1,2,3,4,5]
b=["one","two","Three","four"]
print("concatenation of two lists",a+b)

concatenation of two lists [1, 2, 3, 4, 5, 'one', 'two', 'Three', 'four']

In [ ]:
#v) To sort the elements in the list in ascending order.
c = [2,5,1,7,4,6,3]
c.sort()
print("after sorting the list",c)

after sorting the list [1, 2, 3, 4, 5, 6, 7]

# 2. Write a python program to do in the tuples.
    i) Manipulate using tuples.
    ii) To add new elements to the end of the tuples
    iii) To reverse elements in the list
    iv) To display the elements of the same tuple multiple times.
    v) To concatenate two tuples
    vi) To sort the elements in the listin ascending order.

In [ ]:
# Creating a tuple first
tuple1 = ("apple","bat","dog","cat")
print(tuple1)

('apple', 'bat', 'dog', 'cat')

In [ ]:
#i) Manipulate using tuples.
tuple1 = tuple1 + ("fish","fan",)
print("Adding new element to the tuple",tuple1)

Adding new element to the tuple ('apple', 'bat', 'dog', 'cat', 'fish', 'fan')

In [ ]:
#ii) To add new elements to the end of the tuples
tuple2 = ("A","B","D","C")
print("After adding new elements",tuple1+tuple2)

('apple', 'bat', 'dog', 'cat', 'fish', 'fan', 'A', 'B', 'D', 'C')

In [ ]:
#iii) To reverse elements in the list
print(tuple1[::-1])

('fan', 'fish', 'cat', 'dog', 'bat', 'apple')

In [ ]:
#iv) To display the elements of the same tuple multiple times.
n = int(input("Enter the number to repeat"))
for i in range(n):
  print(tuple2)

Enter the number to repeat6
('A', 'B', 'D', 'C')
('A', 'B', 'D', 'C')
('A', 'B', 'D', 'C')
('A', 'B', 'D', 'C')
('A', 'B', 'D', 'C')
('A', 'B', 'D', 'C')

In [ ]:
#v) To concatenate two tuples
print("Concatenating two tuples ",tuple1+tuple2)

Concatenating two tuples  ('apple', 'bat', 'dog', 'cat', 'fish', 'fan', 'A', 'B', 'D', 'C')

In [ ]:
#vi) To sort the elements in the listin ascending order.
empty_list = []
for i in range(len(tuple1)):
  empty_list.append(tuple1[i])
  empty_list.sort()
print(empty_list)

['apple', 'bat', 'cat', 'dog', 'fan', 'fish']

# 3. Write a python program to implement the following using list
    i) Create a list with integers (minimum 10 numbers)
    ii) how to display the last number in the list
    iii) command for displaying the values from the list[0:4]
    iv) command for displaying the values from the list[2:]
    v) command for displaying the values from the list[:6]

In [ ]:
#i) Create a list with integers (minimum 10 numbers)
list1=[34,7,5,9,22,50,87,66,99,70]
print(list1)

[34, 7, 5, 9, 22, 50, 87, 66, 99, 70]

In [ ]:
#ii) how to display the last number in the list
print(list1[-1])

70

In [ ]:
#iii) command for displaying the values from the list[0:4]
print(list1[0:4])

[34, 7, 5, 9]

In [ ]:
#iv) command for displaying the values from the list[2:]
print(list1[2:])

[5, 9, 22, 50, 87, 66, 99, 70]

In [ ]:
#v) command for displaying the values from the list[:6]
print(list1[:6])

[34, 7, 5, 9, 22, 50]

# 4. Write a python program: tuple1 = (10,50,20,40,30)
    i) To display the elements 10 and 50 from tuple1
    ii) To display the length of tuple1.
    iii)To find the minimum element from tuple1.
    iv) To add all elements in the tuple1.
    v) To display the same tuple1 multiple times.

In [ ]:
#i) To display the elements 10 and 50 from tuple1
tuple1 = (10,50,20,40,30)
print(tuple1[:2])

(10, 50)

In [ ]:
#ii) To display the length of tuple1.
print(len(tuple1))

5

In [ ]:
#iii)To find the minimum element from tuple1.
print(min(tuple1))

10

In [ ]:
#iv) To add all elements in the tuple1.
sum1=0
for i in range(len(tuple1)):
  sum1 = sum1 + tuple1[i]
print(sum1)

150

In [ ]:
#v) To display the same tuple1 multiple times.
n=int(input("Enter the number to repeat the tuple"))
for i in range(n):
  print(tuple1)

Enter the number to repeat the tuple5
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

# 5. Write a python program:
    i) To calculate the length of a string
    ii) To reverse words in a string
    iii) To display the same string multiple times
    iv) To concatenate two strings
    v) Str1="South india" using string slicing to display "india".

In [ ]:
#i) To calculate the length of a string
str1="Hema latha"
print(len(str1))

10

In [ ]:
#ii) To reverse words in a string
str2="To reverse words in a string"
split_str=str2.split()
rev_words=split_str[::-1]
print(rev_words)

['string', 'a', 'in', 'words', 'reverse', 'To']

In [ ]:
#iii) To display the same string multiple times
print((str2+"\n")*5)

To reverse words in a string
To reverse words in a string
To reverse words in a string
To reverse words in a string
To reverse words in a string

In [ ]:
#iv) To concatenate two strings
name="Hemalatha"
Emp_id=" 2575911"
print(name+Emp_id)

Hemalatha 2575911

In [ ]:
#v) Str1="South india" using string slicing to display "india".
str3="South india"
print(str3[6:])

india

# 6. Perform the following:
    i) Creating the dictionary.
    ii) Accessing values and keys in the dictionary.
    iii) Updating the dictionary using a function.
    iv) clear and delete the dictionary values

In [ ]:
#i) Creating the dictionary.
emp_details1 = {"name":"Hemalatha","emp_id":2575911,"Location":"pune","Role":"ASE"}
print(emp_details)

{'name': 'Hemalatha', 'emp_id': 2575911, 'Location': 'pune', 'Role': 'ASE'}

In [ ]:
#ii) Accessing values and keys in the dictionary.
a=emp_details1.items()
print(a)

dict_items([('name', 'Hemalatha'), ('emp_id', 2575911), ('Location', 'pune'), ('Role', 'ASE')])

In [ ]:
#iii) Updating the dictionary using a function.
def update_emp_details1(emp_details1,x,y):
  emp_details1[x]=y
update_emp_details1(emp_details1,"Place","Andhra pradesh")
print(emp_details1)

{'name': 'Hemalatha', 'emp_id': 2575911, 'Location': 'pune', 'Role': 'ASE', 'Place': 'Andhra pradesh'}

In [ ]:
#iv) clear and delete the dictionary values
emp_details2 = {"name":"Hemalatha","emp_id":2575911,"Location":"pune","Role":"ASE"}
copy_emp_details=emp_details2.copy()
emp_details2.clear()
del emp_details2
print(copy_emp_details)

{'name': 'Hemalatha', 'emp_id': 2575911, 'Location': 'pune', 'Role': 'ASE'}

# 7. Python program to insert a number to any position in a list

In [ ]:
n=[1,2,3,4,5,6,7,9]
print("Before insertion - ",n)
n.insert(7,8)
print("After insertion  - ",n)

Before insertion -  [1, 2, 3, 4, 5, 6, 7, 9]
After insertion  -  [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 8. Python program to delete an element from a list by index

In [ ]:
print("Before Deleting - ",n)
del n[5]
print("After Deleting  - ",n)

Before Deleting -  [1, 2, 3, 4, 5, 7, 8, 9]
After Deleting  -  [1, 2, 3, 4, 5, 8, 9]

# 9. Write a program to display the numbers from 1 to 100

In [ ]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a python program to find the sum of all items in a tuple

In [ ]:
tup=(2,1,3,4,5,6,8)
sum1=0
for i in range(len(tup)):
  sum1=sum1+tup[i]
print(sum1)

29

# 11. Create a dictionary containing three lambda functions Square, Cube and Square root
    i) E.g. dict = {'Square':function for squaring,'Cube':function for cube,'Squareroot':function for square root}
    ii) pass the values (input from the user) to the functions in the dictionary respectively.
    iii) Then add the outputs of each function and print it.

In [ ]:
#i) E.g. dict = {'Square':function for squaring,'Cube':function for cube,'Squareroot':function for square root}
import math
dict1 = {'Square':lambda x:x**2,'Cube': lambda x:x**3,'Squareroot':lambda x:math.sqrt(x)}
#ii) pass the values (input from the user) to the functions in the dictionary respectively.
num=int(input("Enter a number: "))
result_of_sqrt=dict1['Square'](num)
result_of_cube=dict1['Cube'](num)
result_of_square_root=dict1['Squareroot'](num)
#iii) Then add the outputs of each function and print it.
print("Square of given number is",result_of_sqrt)
print("Cube  of given number is",result_of_cube)
print("Square root of given number is",result_of_square_root)

Enter a number: 2
Square of given number is 4
Cube  of given number is 8
Square root of given number is 1.4142135623730951

# 12. A list of words is given. find the words from the list that have their second character in uppercase. ls=['hello','Dear','hOw','ARe','You']

In [ ]:
ls=['hello','Dear','hOw','ARe','You']
emty_list=[]
for i in ls:
  if i[1].isupper():
    emty_list.append(i)
print(emty_list)

['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weight on the moon (use map and lambda functions) Formula : wmoon = (wEarth*GMoon)/GEarth
    i) #weight of people in kg
      WeightOnEarth = {'john':45.'Shelly':65,'Marry':35}
    ii) #Gravitational force on the moon: 1.622 m/s2
      GMoon = 1.622
    iii) #Gravitational force on the Earth: 9.81 m/s2
      GEarth = 9.81

In [41]:
WeightOnEarth = {'john':45,'Shelly':65,'Marry':35}
GMoon = 1.622
GEarth = 9.81
Weight_on_moon={name:(weight*GMoon)/GEarth for name, weight in WeightOnEarth.items()}
for name, MoonWeight in Weight_on_moon.items():
  print(f"{name}: {MoonWeight :.2f}kg")

john: 7.44kg
Shelly: 10.75kg
Marry: 5.79kg

# **Control Structures:**

# 1. Write a python program to find the first N prime numbers

In [11]:
n=int(input("Enter the number: "))
for i in range(2,n+1):
  count=0
  for j in range(2,i):
    if(i%j==0):
      count=1
      break
  if(count==0):
    print(i)

Enter the number: 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# 2. Write the python code that calculates the salaryof an employee. prompt the user to enter the basic salary, HRA, TA, and DA. Add these components to calculate the gross salaryalso,deduct 10%of salary from the gross salary to be paid as tax and display gross minus tax as net salary.

In [24]:
basic_Salary=int(input("Enter the basic salary of an employee: "))
HRA=int(input("Enter the HRA of an employee: "))
TA=int(input("Enter the TA of an employee: "))
DA=int(input("Enter the DA of an employee: "))
Gross_salary=basic_Salary+HRA+TA+DA
print("Gross_salary : ",Gross_salary)
tax_deduction=(Gross_salary*0.10)
print("Tax : ",tax_deduction)
net_salary=Gross_salary-tax_deduction
print("Net salary : ",net_salary)

Enter the basic salary of an employee: 13333
Enter the HRA of an employee: 8117
Enter the TA of an employee: 3333
Enter the DA of an employee: 4500
Gross_salary :  29283
Tax :  2928.3
Net salary :  26354.7

# 3. Write a python program to search for a string in the given list

In [27]:
list1=["Apple","orange","grapes"]
search_str=input("Enter the search string : ")
# searching for orange
if search_str in list1:
  print(search_str,"is present in the list")
else:
  print(search_str,"is not present in the list")

Enter the search string : bat
bat is not present in the list

# 4. Write a python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [29]:
str1=input("Enter the string : ")
upper=0
lower=0
for i in str1:
  if i.isupper():
    upper+=1
  elif i.islower():
    lower+=1
print("Upper case letters in the string are : ",upper)
print("Lower case letters in the string are : ",lower)

Enter the string : Hema Latha
Upper case letters in the string are :  2
Lower case letters in the string are :  7

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [31]:
sum1=0
for i in range(13,37):
  sum1=sum1+i
print(sum1)

588

# 6.Write  a python program to print the table of any number.

In [35]:
n=int(input("Enter the number to print the table : "))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

Enter the number to print the table : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# 7. Write a python program to sum the first 10 prime numbers.

In [51]:
def isprime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while(i * i <= num):
        if (num % i == 0 or num % (i + 2) == 0):
            return False
        i += 6
    return True
result =0
primes_num = []
i =2
while len(primes_num) < 10:
    if isprime(i):
      primes_num.append(i)
      result += i
    i += 1
print("The sum of first 10 primes is : ",result)

The sum of first 10 primes is :  129

# 8) write a python program to implement arithemetic operations using nested if statement

In [54]:
num1 = int(input("Enter the first number\n"))
num2 = int(input("Enter the second number\n"))
optr = input("Enter the operator\n")
if(optr == "+"):
  print("Addition result = ", num1+num2)
elif(optr == "-"):
  print("Subtraction result = ", num1-num2)
elif(optr == "*"):
  print("Multiplication result = ", num1*num2)
elif(optr == "/"):
  if num2!=0:
    print("Division result = ", num1/num2)
  else:
    print("num/0 is undefined")
else:
  print("you entered the Unknown Symbol ")

Enter the first number
4
Enter the second number
5
Enter the operator
+
Addition result =  9

# 9. write a python program to take the temperature in celsius and convert it into fahrenheit

In [56]:
temp_celsius = int(input("enter the celsius degrees"))
fahrenheit = (temp_celsius * 1.8) + 32
print(" Temperature in fahrenheit is: ",fahrenheit)

enter the celsius degrees36
 Temperature in fahrenheit is:  96.8

# 10. write a python program to find a maximum and minum number in a list without using inbuilt functions

In [57]:
list_nums = [100, 20, 29, 38, 991, 5, 25, -87, 60, -82]
max_num = 0
min_num = 0
for i in list_nums:
    if max_num<i:
        max_num = i
    if min_num >i:
        min_num = i

print("The maximum in the list is: ",max_num)
print("The minimum in the list is: ",min_num)

The maximum in the list is:  991
The minimum in the list is:  -87

# 11. write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day , 60 minutes per day, 60 sec in a minute

In [58]:
day_month = 30
hour_day = 24
min_hour = 60
sec_min = 60

result = day_month * hour_day * min_hour * sec_min
print("number of seconds in 30-day  is : ",result)

number of seconds in 30-day  is :  2592000

# 12. write a python program to print number of seconds in a year

In [59]:
months_year = 30
days = 24
hours_day = 24
mins_hour = 60
secs_min = 60
result = months_year * days * hours_day * mins_hour * secs_min
print("The number of seconds in a year is : ",result)

The number of seconds in a year is :  62208000

# 13. A high-speed train can travel at an average speed of 150mph how long will it take a train travelling at this speed to travel from london to glasgow which is 414 miles away

In [60]:
speed = 150
distance = 414
time = distance/speed
print("The time taken to travel from londom to glasgow is : ",time)

The time taken to travel from londom to glasgow is :  2.76

# 14. write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable the program should then print out the total hours that you spend in school from year 7 to 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [61]:
days_in_each_school_year = 192
spend_years = 11-7
spend_hours = 6
total_hours = days_in_each_school_year * spend_years * spend_hours
print("Total hours spent in school is : ",total_hours)

Total hours spent in school is :  4608

# 15. If the age of Ram, Sam and Khan are input through the keyboard write a python program to determine the eldest and youngest of the three

In [62]:
age_Ram = int(input("Enter the age of Ram "))
age_Sam = int(input("Enter the age of Sam "))
age_Khan = int(input("Enter the age of Khan "))
eldest = max(age_Ram, age_Sam, age_Khan)
youngest = min(age_Ram, age_Sam, age_Khan)

print("Elder of the three is \n",eldest)
print("Younger of the three is \n",youngest)

Enter the age of Ram 43
Enter the age of Sam 22
Enter the age of Khan 67
Elder of the three is
 67
Younger of the three is
 22

# 16. write a python program to rotate a list by right n times with and without slicing techinique.

In [68]:
def with_slicing_rotate(lst, n):
    n = n % len(lst)
    return lst[-n:] + lst[:-n]
def without_slicing_rotate(list, n):
  rotated_list = [0] * len(lst)
  for i in range(len(lst)):
    rotated_list[(i + n) % len(lst)] = lst[i]
  return rotated_list
lst = [1, 2, 3, 4, 5, 6]
n = int(input("Enter the number of rotations required : "))
print(with_slicing_rotate(lst, n))
print(without_slicing_rotate(lst, n))

Enter the number of rotations required : 3
[4, 5, 6, 1, 2, 3]
[4, 5, 6, 1, 2, 3]

17. Python program to print the pattersn given below

In [4]:
# First-pattern
from math import factorial
n = int(input("Enter the number of rows required : "))
for i in range(n):
    for j in range(n-i+1):
        print(end=" ")
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
    print()

Enter the number of rows required : 7
        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
   1 5 10 10 5 1
  1 6 15 20 15 6 1

In [7]:
# Second-pattern
n = int(input("Enter the number of rows required : "))
print("\n")
for i in range(0, n):
    for j in range(0, i):
        print("* ", end="")
    print(" ")

Enter the number of rows required : 6



*
* *
* * *
* * * *
* * * * *

In [11]:
# Third-pattern
n = int(input("Enter number of rows: "))
for i in range(1, n+1):
  print (' ' * (n - i), '* ' * i)

Enter number of rows: 7
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [17]:
# Fourth-pattern
str1 = input("Enter a title : ")
for i in range(len(str1)):
    print(str1[:i+1])

Enter a title : python
p
py
pyt
pyth
pytho
python